#form {
    background-color: cornflowerblue;
    border: 1px;
}

.login {
    text-align: center;
}

.mycenter {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 500px;
    width: 440px;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
}

.mysign {
    border: 2px dotted #fff;
    border-radius: 4px;
    width: 480px;
    height: 500px;
    text-align: center;
}

.mycenter input,
.button {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.mycheckbox {
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    height: 10px;
    border-radius: 2px;
}

#password {
    line-height: 15px;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    background-color: #aab345;
    margin-top: 30px;
    line-height: 25px;
}

.form-control {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    text-indent: 10px;
}

.form-control:focus {
    border-color: mediumaquamarine;
    outline: 0;
}

.form-group {
    margin-top: 13px;
    margin-left: 46px;
}

.form-control {
    margin-top: 8px;
}

.Submission {
    cursor: pointer;
    border-radius: 5px;
    background-color: olive;
    margin-top: 20px;
    width: 100px;
    height: 40px;
}